app/templates/jade/index.jade
extends ./layouts/main.jade
include ./mixins/block.jade

block content
  div#about-us.message.pure-g
    div.l-box.pure-u-1.pure-u-sm-3-4
      h1 Somos una empresa de Software y Tecnologia.
      p
        |  Lorem ipsum dolor sit amet, consetetur adipisicing elit. Eum possimus quas, dolor dolorem voluptates, voluptatum deserunt rerum et consequuntur autem ipsam iure minus, porro eaque accusantium, ratione itaque veniam provident.
    div.l-box.pure-u-1.pure-u-sm-1-4
      +article({title:'Titulo', block:'contenido largo'})

  div#services.services.pure-g
    each serv in data.services
      +service(serv)

  div.quotes
    blockquote(cite="http://google.com")
      | No hay emoción más intensa para un inventor que ver una de sus creaciones funcionando
      em - Nikola Tesla

  div#work.cards.pure-g
    +card
    +card
    +card

  include ./includes/footer.jade

dist/index.html
<!DOCTYPE html><html lang="es-pe"><head><meta charset="utf-8"><meta content="article" property="og:type"><meta name="viewport" content="width=device-width, initial-scale=1"><meta content="Curiosity" property="og:site_name"><meta property="og:title"><meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><link rel="icon" href="/res/img/isotype.png"><!-- google fonts--><link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css"><title>Pagina Principal - Curiosity</title><link rel="stylesheet" href="/styles/lib.min.css" type="text/css"><link rel="stylesheet" href="/styles/app.min.css" type="text/css"></head><body ng-app="CuriosityApp"><header class="header"><!--div.md-toolbar-tools.cnavh2=data.brand
span(flex)
md-button.md-icon-button(aria-label='Favorite')
  md-icon(md-svg-icon='res/icons/favorite.svg')--><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a href="#" class="pure-menu-heading pure-menu-link">CURIOSITY</a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="#about-us" class="pure-menu-link">¿Quienes Somos?</a></li><li class="pure-menu-item"><a href="#services" class="pure-menu-link">¿Que Hacemos?</a></li><li class="pure-menu-item"><a href="#work" class="pure-menu-link">Nuestro trabajo</a></li></ul></div><div class="splash-container wall"><section class="splash"><header class="splash-head"><img src="res/img/logo-w.png" alt="curiosity" layout-align="center"></header><article class="splash-subhead">Calidad basada en tecnologia<br>Tecnologia basada en calidad</article><footer hide-gt-xs class="splash-foot"><md-list layout="row" layout-xs="column" layout-align="center center"><md-list-item><h3><a>¿Que Hacemos?</a></h3></md-list-item><md-list-item><h3><a>¿Quienes Somos?</a></h3></md-list-item><md-list-item><h3><a>Servicios</a></h3></md-list-item><md-list-item><h3><a>Unetenos</a></h3></md-list-item></md-list></footer></section></div></header><div id="container" class="content-wrapper"><div id="about-us" class="message pure-g"><div class="l-box pure-u-1 pure-u-sm-3-4"><h1>Somos una empresa de Software y Tecnologia.</h1><p> Lorem ipsum dolor sit amet, consetetur adipisicing elit. Eum possimus quas, dolor dolorem voluptates, voluptatum deserunt rerum et consequuntur autem ipsam iure minus, porro eaque accusantium, ratione itaque veniam provident.</p></div><div class="l-box pure-u-1 pure-u-sm-1-4"><div class="article"><div class="article-wrapper"><h3>Titulo</h3><span>contenido largo</span><!--if obj.block--><!--else--><!--  p No content provided--></div></div></div></div><div id="services" class="services pure-g"><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><header>Desarrollo de Aplicaciones de Negocio</header><p class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veritatis eius autem dolorem voluptas.</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><header>Desarrollo Movil</header><p class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veritatis eius autem dolorem voluptas.</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><header>Agilismo</header><p class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veritatis eius autem dolorem voluptas.</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><header>Calidad</header><p class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae veritatis eius autem dolorem voluptas.</p></div></div><div class="quotes"><blockquote cite="http://google.com">No hay emoción más intensa para un inventor que ver una de sus creaciones funcionando<em>- Nikola Tesla</em></blockquote></div><div id="work" class="cards pure-g"><div class="l-box pure-u-1 pure-u-md-1-3"><section class="card"><header><img src="res/img/bg-xs.jpg" alt="image Out"/></header><article><p>sdsadsadsfkjdf</p></article></section></div><div class="l-box pure-u-1 pure-u-md-1-3"><section class="card"><header><img src="res/img/bg-xs.jpg" alt="image Out"/></header><article><p>sdsadsadsfkjdf</p></article></section></div><div class="l-box pure-u-1 pure-u-md-1-3"><section class="card"><header><img src="res/img/bg-xs.jpg" alt="image Out"/></header><article><p>sdsadsadsfkjdf</p></article></section></div></div><footer class="footer"><div class="pure-g"><div class="isotype pure-u-1 pure-u-sm-1-5"><img src="res/img/isotype-white.png" alt="curiosity"></div><div class="pure-u-1 pure-u-sm-1-5"><h4>Curiosity</h4><p>Curiosity S.A.C.</p></div><div class="form pure-u-1 pure-u-sm-2-5"><h3>Contacto</h3><form action="index.html" method="post" class="pure-form"><fieldset class="pure-group"><input type="text" placeholder="Correo electronico" class="pure-input-1"><input type="text" placeholder="Nombre completo" class="pure-input-1"><textarea placeholder="Mensaje" class="pure-input-1"></textarea></fieldset><button type="button" name="button" class="pure-button pure-input-1 pure-button-primary">Enviar</button></form><!--form.contact-form.pure-form.pure-form-aligned(action='#', name='contactFrm')fieldset
  div.pure-control-group
    label(for='email') E-mail:
    input(name='email', placeholder='Correo electronico')
fieldset
  div.pure-control-group
    label(for='name') Nombres:
    input(name='name', placeholder='Nombre completo')
fieldset
  div.pure-control-group
    label(for='content') Asunto:
    textarea(name='content', rows='8', cols='40')
      | ¿En que podemos ayudater?
div.pure-control-group
  button.pure-button.pure-button-primary(type='button', name='button')
    | Enviar
--></div><div class="pure-u-1 pure-u-sm-1-5"><ul><li><a href="#">Tw</a><a href="#">Fb</a><a href="#">Bb</a></li></ul></div></div><div><p><span>Curiosity Software Company&nbsp;|&nbsp;</span><a href="#">Contacto</a></p></div></footer></div><footer class="footer"><div class="pure-g"><div class="isotype pure-u-1 pure-u-sm-1-5"><img src="res/img/isotype-white.png" alt="curiosity"></div><div class="pure-u-1 pure-u-sm-1-5"><h4>Curiosity</h4><p>Curiosity S.A.C.</p></div><div class="form pure-u-1 pure-u-sm-2-5"><h3>Contacto</h3><form action="index.html" method="post" class="pure-form"><fieldset class="pure-group"><input type="text" placeholder="Correo electronico" class="pure-input-1"><input type="text" placeholder="Nombre completo" class="pure-input-1"><textarea placeholder="Mensaje" class="pure-input-1"></textarea></fieldset><button type="button" name="button" class="pure-button pure-input-1 pure-button-primary">Enviar</button></form><!--form.contact-form.pure-form.pure-form-aligned(action='#', name='contactFrm')fieldset
  div.pure-control-group
    label(for='email') E-mail:
    input(name='email', placeholder='Correo electronico')
fieldset
  div.pure-control-group
    label(for='name') Nombres:
    input(name='name', placeholder='Nombre completo')
fieldset
  div.pure-control-group
    label(for='content') Asunto:
    textarea(name='content', rows='8', cols='40')
      | ¿En que podemos ayudater?
div.pure-control-group
  button.pure-button.pure-button-primary(type='button', name='button')
    | Enviar
--></div><div class="pure-u-1 pure-u-sm-1-5"><ul><li><a href="#">Tw</a><a href="#">Fb</a><a href="#">Bb</a></li></ul></div></div><div><p><span>Curiosity Software Company&nbsp;|&nbsp;</span><a href="#">Contacto</a></p></div></footer><!-- Scripts para Desarrollo.--><script src="/scripts/lib.min.js"></script><script src="/scripts/app.min.js"></script></body></html>
